<nav class="navegacion-nav">
    <ul class="navbar-container">
        <li class="navbar-item">
            <a href="/" class="navbar-link"
                ><img src="/imgs/home.png" /><span class="link-text">Home</span
                ></a
            >
        </li>

        <li class="navbar-item">
            <a href="cursos" class="navbar-link"
                ><img src="/imgs/bookmark.png" /><span class="link-text"
                    >Cursos</span
                ></a
            >
        </li>

        <li class="navbar-item">
            <a href="blog" class="navbar-link"
                ><img src="/imgs/blog.png" /><span class="link-text">Blog</span
                ></a
            >
        </li>

        <li class="navbar-item">
            <a href="recursos" class="navbar-link"
                ><img src="/imgs/recursos.png" /><span class="link-text"
                    >Recursos</span
                ></a
            >
        </li>
    </ul>
</nav>

<!--   Navegación  -->
<style>
    .navegacion-nav {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 50px;
        background-color: rgba(29, 29, 29, 0.151);
        box-shadow: 8px 5px 20px 0px rgb(43 42 42 / 74%);
        backdrop-filter: blur(15px);
        z-index: 10;
    }

    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 50%;
    }

    .navbar-item {
        width: 100%;
        transition: 0.5ms all ease;
    }
    .navbar-item:hover {
        background: rgba(41, 41, 41, 0.205);
        border-radius: 5px;
        backdrop-filter: blur(15px);
    }
    .navbar-item img {
        width: 40px;
    }
    .logo {
        display: none;
    }
    .link-text {
        display: none;
        transition-duration: 1s;
    }
    .navbar-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 10px;
        transition: 1.5s all ease;
    }
    /* .navbar-link:hover {
        
    } */

    @media only screen and (min-width: 600px) {
        .navegacion-nav {
            top: 60px;
            left: 10px;
            width: 60px;
            height: 36vh;
            transition: 0.3s all ease;
            border-radius: 10px;
        }

        .navegacion-nav:hover {
            width: 150px;
        }
        .navegacion-nav:hover .link-text {
            display: block;
        }
        .navbar-container {
            flex-direction: column;
            justify-content: initial;
            padding: 10px;
        }
        .navbar-item:last-child {
            margin-top: auto;
        }
        .navbar-link {
            display: flex;
            gap: 10px;
            flex-direction: row;
            justify-content: initial;
            height: 50px;
        }
    }
</style>
