---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body>

        <nav class="navegacion glass">
            <h1><span>X</span> Cursos</h1>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Cursos</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Recursos</a></li>
                <li><a href="">Acerca de</a></li>
            </ul>
            
        </nav>

    </body>
</html>



<style>

</style>