<nav class="navegacion glass">
    <h1>X</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="cursos">Cursos</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="recursos">Recursos</a></li>
        <li><a href="acercade">Acerca de</a></li>
    </ul>
</nav>
