* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    color: #ffffff;
}

body {
    background: #171717;
    color: #ffffff;
}

main {
    margin: 20px;
    /* margin-left: 50px; */
}

/* ------------Estilos Generales-------------- */

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 600px) {
    main {
        margin-left: 63px;
    }
}