* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: #171717;
    color: #ffffff;
}

/*  ---------- Navegación --------- */
.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
}

.navegacion ul {
    display: flex;
    gap: 20px;
}

.glass{
    background: #111111bb;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}